/* [~]=====================[~] */
/* [~]===[ GRID HEADER ]===[~] */
/* [~]=====================[~] */
.grid-header {
  background-image: url("./../../design/svg/logoh.svg");
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: 93%;
  -webkit-box-shadow: 10px 0 30px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 0 30px -5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.grid-header > header.main-header {
  height: 101%;
  width: 102%;
}

.grid-header > header.main-header > h1 {
  width: 30vw;
  font-size: 20pt;
  line-height: 10vh;
  color: #333333;
  position: absolute;
  left: 26vw;
  padding-top: 7px;
}

.grid-header > header.main-header::before {
  content: '';
  position: absolute;
  height: 10vh;
  width: 20vw;
  left: 0;
  top: 0;
  background-color: #DFDFDF;
  background-image: url("./../../design/svg/cimaimg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -4px -1px;
}

@media screen and (max-width: 1023px) {
  .grid-header {
    background-size: 35vw 80%;
  }
  .grid-header > header.main-header > h1 {
    font-size: 10pt;
    color: #ffffff;
    left: 20px;
    width: 50vw;
    margin-top: -13px;
  }
  .grid-header > header.main-header::before {
    width: 58vw;
    height: 10vh;
    background-color: #ffffff;
  }
}

/* [~]==================[~] */
/* [~]===[ GRID NAV ]===[~] */
/* [~]==================[~] */
.grid-nav {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #DFDFDF;
  z-index: 1;
}

.grid-nav .nav-avatar-image {
  width: 150px;
  height: 150px;
  margin: 30px auto;
}

.grid-nav p.nav-user-name {
  font-size: 16pt;
  margin-bottom: 30px;
  text-align: center;
}

.grid-nav .nav-menu {
  list-style: none;
  width: 100%;
}

.grid-nav .nav-menu a {
  text-decoration: none;
}

.grid-nav .nav-menu li {
  color: #333333;
  width: 100%;
  height: 50px;
  line-height: 55px;
  font-size: 16pt;
  padding-left: 20px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #D4D4D4;
  -webkit-transition: background-color 300ms, padding-left 300ms, color 500ms;
  transition: background-color 300ms, padding-left 300ms, color 500ms;
}

.grid-nav .nav-menu li svg {
  margin-right: 15px;
  background-color: transparent !important;
}

.grid-nav .nav-menu li:hover {
  background-color: darkorange;
  padding-left: 30px;
  color: #151515;
}

/* [~]====================[~] */
/* [~]===[ GRID MAIN ]===[~] */
/* [~]====================[~] */
.grid-main {
  overflow: auto;
}

/* [~]=====================[~] */
/* [~]===[ GRID FOOTER ]===[~] */
/* [~]=====================[~] */
.grid-footer {
  z-index: 1;
}

.grid-footer div.footer {
  position: fixed;
  right: -2px;
  bottom: -2px;
  background-color: #ffffff;
  background-image: url("./../../design/svg/baixoimg.svg");
  background-repeat: no-repeat;
  background-position: 101% 101%;
  font-size: 12pt;
  width: 100%;
  height: 10vh;
  z-index: 2;
}

.grid-footer div.footer::before {
  content: '';
  position: absolute;
  height: 10vh;
  width: 20vw;
  background-color: #DFDFDF;
  left: -2px;
  bottom: 2px;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .grid-footer div.footer {
    background-color: transparent;
    background-size: unset;
  }
  .grid-footer div.footer::before {
    height: 0;
    width: 0;
  }
}
/*# sourceMappingURL=index.css.map */